<ion-view cache-view="false" view-title="Home">
  <ion-content>
    {{vm.saluda}}
    <ion-list ng-if="vm.list">
      <ion-item ng-click="vm.openFile(expenses.values.filepath)" ng-repeat="expenses in vm.list | orderBy: 'Fecha'">
        <div class="row">
          <div class="col col-center">{{expenses.values.Mes}}</div>
        </div>
        <div class="row">
          <div class="col col-20">Agua:</div>
          <div class="col">{{expenses.values.Agua}}</div>
          <div class="col col-20">Gas:</div>
          <div class="col">{{expenses.values.Gas}}</div>
        </div>
        <div class="row">
          <div class="col col-25">Internet:</div>
          <div class="col">{{expenses.values.Internet}}</div>
          <div class="col col-20">Luz:</div>
          <div class="col">{{expenses.values.Luz}}</div>
        </div>
        <div class="row">
          <div class="col col-25">Total:</div>
          <div class="col">{{expenses.values.total}}</div>
          <div class="col col-25">Ingreso:</div>
          <div class="col">{{expenses.values.ingreso}}</div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer-bar>
    <ion-toolbar>
    </ion-toolbar>
  </ion-footer-bar>
</ion-view>
