<ion-view cache-view="false" view-title="Home">
  <ion-content>
    <ion-list ng-if="vm.list">
      <ion-item ng-click="vm.openFile(expenses.values.filepath)" ng-repeat="expenses in vm.list | orderBy: 'Fecha'">
        <div class="row">
          <div class="col">
            <span class="mesanyo">{{expenses.values.Mes}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col">Gastos:</div>
          <div class="col">
            <span ng-class="vm.gastos > vm.ingresos ? 'color-red': ''">{{vm.gastos}} €</span>
          </div>
          <div class="col">Ingreso:</div>
          <div class="col">
            <span ng-class="vm.ingresos < vm.gastos ? 'color-green': ''">{{vm.ingresos}} €</span>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer-bar>
    <ion-toolbar>
    </ion-toolbar>
  </ion-footer-bar>
</ion-view>
