<ion-view cache-view="false" view-title="Home">
  <ion-content>
    {{vm.saluda}}
    <ion-list ng-if="vm.list">
      <ion-item ng-repeat="expenses in vm.list track by $index">
        <h2>{{expenses.Mes}}</h2>
        <p>Agua: {{expenses.Agua}}</p>
        <p>Gas: {{expenses.Gas}}</p>
        <p>Luz: {{expenses.Luz}}</p>
        <p>Internet: {{expenses.Internet}}</p>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer-bar>
    <ion-toolbar>
    </ion-toolbar>
  </ion-footer-bar>
</ion-view>
