<ion-view cache-view="false" view-title="Detalles">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        <div class="row mesanyo">
          <div class="col">
            <span>Gastos de</span>
            <br />
            <span>{{vm.data.Mes +" "+ vm.data.Anyo}}</span>
          </div>
          <div class="col-25 mesanyo right">
            <span ng-class="vm.data.Total.Diferencia > 0 ? 'color-green': 'color-red'">{{vm.data.Total.Gastos}} €</span>
          </div>
        </div>
      </div>
      <a ng-click="vm.verFactura(vm.data.Internet.filepath)" class="item item-icon-left">
        <div class="row">
          <div class="col">
            <i class="icon ion-wifi"></i>
            Internet
          </div>
          <div class="col-25">
            <span>{{vm.data.Internet.Coste}} €</span>
            <i class="icon ion-chevron-right"></i>
          </div>
        </div>
      </a>
      <a ng-click="vm.verFactura(vm.data.Agua.filepath)" class="item item-icon-left">
        <div class="row">
          <div class="col">
            <i class="icon ion-waterdrop"></i>
            Agua
          </div>
          <div class="col-25">
            <span>{{vm.data.Agua.Coste}} €</span>
          </div>
        </div>
      </a>
      <a ng-click="vm.verFactura(vm.data.Luz.filepath)" class="item item-icon-left">
        <div class="row">
          <div class="col">
            <i class="icon ion-lightbulb"></i>
            Luz
          </div>
          <div class="col-25">
            <span>{{vm.data.Luz.Coste}} €</span>
          </div>
        </div>
      </a>
      <a ng-click="vm.verFactura(vm.data.Gas.filepath)" class="item item-icon-left">
        <div class="row">
          <div class="col">
            <i class="icon ion-flame"></i>
            Gas
          </div>
          <div class="col-25">
            <span>{{vm.data.Gas.Coste}} €</span>
          </div>
        </div>
      </a>
    </div>
  </ion-content>

  <ion-footer-bar>
    <ion-toolbar>
    </ion-toolbar>
  </ion-footer-bar>
</ion-view>
