<ion-view>
  <ion-content>
    <div class="row">
      <div class="col">
        <button class="button button-block button-positive"
                ng-click="vm.doLogin('facebook')">Acceder con Facebook</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block button-assertive"
                ng-click="vm.doLogin('goolge')">Acceder con Google +</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block button-positive"
                ng-click="vm.doLogin('anonimo')">Acceso Anónimo</button>
      </div>
    </div>
  </ion-content>
</ion-view>
